<aside class="sidebar">
    <nav>
        <ul>
            {% if active_role == 'ADMIN_TI' %}
                <li><a href="{% url 'dashboard_admin' %}">Panel administrador</a></li>
                <li><a href="{% url 'usuarios_list' %}">Usuarios</a></li>
                <li><a href="{% url 'calificaciones_list' %}">Calificaciones tributarias</a></li>
                <li><a href="{% url 'documentos_list' %}">Documentos</a></li>
                <li><a href="{% url 'aprobaciones_list' %}">Aprobaciones</a></li>
                <li><a href="{% url 'auditoria' %}">Auditoría</a></li>
                <li><a href="{% url 'parametros_sistema' %}">Parámetros</a></li>
                <li><a href="{% url 'logs_backups' %}">Logs / Backups</a></li>
            {% elif active_role == 'SUPERVISOR' %}
                <li><a href="{% url 'dashboard_supervisor' %}">Panel supervisor</a></li>
                <li><a href="{% url 'calificaciones_list' %}">Calificaciones tributarias</a></li>
                <li><a href="{% url 'aprobaciones_list' %}">Aprobaciones</a></li>
                <li><a href="{% url 'documentos_list' %}">Documentos</a></li>
                <li><a href="{% url 'auditoria' %}">Auditoría</a></li>
            {% elif active_role == 'ANALISTA' %}
                <li><a href="{% url 'dashboard_analista' %}">Panel analista</a></li>
                <li><a href="{% url 'calificaciones_list' %}">Calificaciones tributarias</a></li>
                <li><a href="{% url 'documentos_list' %}">Documentos</a></li>
            {% elif active_role == 'ACCIONISTA' %}
                <li><a href="{% url 'dashboard_accionista' %}">Panel accionista</a></li>
                <li><a href="{% url 'dashboard_powerbi' %}">Power BI</a></li>
            {% elif active_role == 'INVERSIONISTA' %}
                <li><a href="{% url 'dashboard_inversionista' %}">Panel inversionista</a></li>
                <li><a href="{% url 'dashboard_powerbi' %}">Power BI</a></li>
            {% endif %}
            <li><a href="{% url 'perfil' %}">Mi perfil</a></li>
        </ul>
    </nav>
</aside>
