{% extends 'templatesApp/base.html' %}
{% block title %}Dashboard Supervisor{% endblock %}
{% block content %}
<h1>Dashboard Supervisor (HU07)</h1>
<div class="kpi-grid">
    <div class="kpi-card">
        <div class="kpi-label">Calificaciones vigentes</div>
        <div class="kpi-value">{{ calificaciones_pendientes }}</div>
        <div class="kpi-sub">Pendientes de aprobar</div>
    </div>
    <div class="kpi-card">
        <div class="kpi-label">Cargas del dia</div>
        <div class="kpi-value">{{ cargas_hoy }}</div>
        <div class="kpi-sub">Revisar trazabilidad</div>
    </div>
</div>
{% endblock %}
