{% extends 'templatesApp/base.html' %}
{% block title %}Detalle calificacion{% endblock %}
{% block content %}
<h1>Detalle calificacion</h1>
<p>Emisor: {{ calificacion.emisor }}</p>
<p>Instrumento: {{ calificacion.instrumento }}</p>
<p>Anio: {{ calificacion.anio }}</p>
<p>Monto: {{ calificacion.monto }}</p>
<p>Factor: {{ calificacion.factor }}</p>
<p>Estado: {{ calificacion.get_estado_registro_display }}</p>
<p>Rating: {{ calificacion.rating }}</p>
<a href="{% url 'calificaciones_historial' calificacion.pk %}">Ver historial</a>
{% endblock %}
